:root
{
    --blue : #2C2546;
    --dark-blue : #1A1A2E;
    --green : #3AAFA9;
    --white : #EAEAEA;
}

*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Tahoma';
}

body
{
    background-color: var(--dark-blue);  
    color: var(--white);
}

header
{
    text-align: center;
    background-color: var(--blue);
    position: fixed;
    width: 100%;
    font-weight: bold;
    padding: 2%;
    top: 0;
}

.title
{
    color: var(--green);
    border-bottom: 1px solid var(--white);
    font-size: 15pt;
}

.input-search
{
    width: 30%;
    border: none;
    border-radius: 0 0 0 20px;
    padding: 2px
}

.input-submit
{
    margin-left: -5px;
    border: none;
    border-radius: 0 10px 0 0;
    padding: 2px;
    background-color: var(--green);
    color: var(--blue);
    width: 5%;
    font-weight: bold;
}

nav
{
    margin-top: 15px;
}

nav ul
{
    display: flex;
    gap: 20px;
    justify-content: center;
}

nav ul li a
{
   color: var(--green);
}

nav ul li a:hover
{
   border-bottom: 3px solid var(--white);
}

.slider
{
    margin-top: 10%;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 65%;
}

.slider h4
{
    margin-top: 20%;
}

.slides
{
    display: flex;
    width: 50rem;
    overflow: hidden;
}

.slides img 
{
    border-radius: 10px;
}

.slide
{
    width: 50rem;
    transition: .5s;
}

.choose_1:checked ~ .slides > .s1
{
    margin-left: -0rem;
}

.choose_2:checked ~ .slides > .s1
{
    margin-left: -50rem;
}

.overlay 
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target 
{
    visibility: visible;
    opacity: 1;
}

.popup 
{
    margin: 70px auto;
    padding: 20px;
    background: var(--dark-blue);
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
  
.popup h2 {
    margin-top: 0;
    color: var(--white);
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover 
{
    color: #06D85F;
}

.content 
{
    max-height: 30%;
    width: 50%;
}

.title-p
{
    margin-left: 60px;
    max-resolution: 5%;
}

.populer
{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.populer img
{
    border-radius: 10px;
}

.harga
{
    color: var(--green);
    margin-top: 35%;
}

.link a
{
    color: var(--white);
}

.link a:hover
{
    color: var(--green);
}

.pesan
{
    background-color: var(--green);
    padding: 5%;
    border-radius: 10px;
}

.pesan:hover
{
    background-color: var(--white);
}

.pesan image
{
    width: 30px;
}
